{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="main">
        <div class="breadcrumbs  bg-grey">
            <div class="container ">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><span>Корзина</span></li>

                </ul>
            </div>
        </div>
        <section class="contacts">

            <div v-if="cartTotal" class="container">
                <div class="section-header"><h1>Корзина</h1></div>
                <div class="cart">
                       <div id="cart_overlay" class="cart-overlay">
                    <div class="loader"></div>
                </div>
                    <div class="main-cart-items">
                        <div class="main-cart-item ">
                            <div class="main-cart-item-head">Товары</div>
                            <div class="main-cart-item-head">Кол-во</div>
                            <div class="main-cart-item-head">Цена</div>
                            <div class="main-cart-item-head">Сумма</div>
                            <div class="main-cart-item-head">Действие</div>
                        </div><!--// main-cart-item-->
                         <main-cart-item
                                v-for="(item,index) in headerCartItems"
                                v-bind:item="item"
                                v-bind:key="item.id"
                                v-bind:index="index"
                                v-on:userdelete="remove"
                                v-on:del_qt="del_qt"
                                v-on:add_qt="add_qt"
                        ></main-cart-item>

                             <div class="main-cart-item ">
                            <div class="main-cart-item-head">Итого</div>
                            <div class="main-cart-item-head"></div>
                            <div class="main-cart-item-head"></div>
                            <div class="main-cart-item-head">[[cartTotal]]</div>
                            <div class="main-cart-item-head"></div>
                        </div><!--// main-cart-item-->


                    </div>


                </div>

                <div class="main-cart__buttons">

                    <a href="javascript:void(0)" class="btn btn-outline ">продолжить покупки</a>
                    <a href="javascript:void(0)" class="btn btn-md">оформить заказ</a>
                </div>

            </div><!--//container-->
            <div v-else class="container">
                <div  class="empty-cart">
                     <div class="section-header text-center"><h4>Корзина пуста</h4></div>
                <a style="max-width: 320px; margin: 0 auto" href="/" class="btn">в каталог</a>
                </div>
            </div>

        </section>

    </div><!--//main-->
{% endblock %}
{% block js %}
    {{ block.super }}

{% endblock %}