{% extends 'basic.html' %}
{% load static %}
{% block content %}

  <div class="main">
    <div class="breadcrumbs bg-grey">
        <div class="container ">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><span>Доставка</span></li>
            </ul>
        </div>
    </div>
    <section class="delivery">
        <div class="container">
            <div class="section-header"><h1>Доставка</h1></div>
            <div class="delivery-wrapper">
                <div class="delivery-form">
                    <h2>Условия доставки</h2>
                    <div class="item-tabs">
                        <div class="tab delivery-tab">
                            <button id="defaultOpen" class="tablinks delivery-button" onclick="openTab(event, 'delivery')">Доставка</button>
                            <button class="tablinks delivery-button" onclick="openTab(event, 'self')">Самовывоз</button>
                        </div>
                        <div id="delivery" class="tabcontent">
                            <table >
                                <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Стоимость</td>
                                </tr>

                                </thead>
                                <tr>
                                    <td><p>По городу</p></td>
                                    <td><p>Бесплатно<span>при заказе<br> от 30 000 руб.</span></p>
                                    <td><p>8 000 руб.<span>для заказов на сумму<br> от 0 до 30 000 руб.</span></p></td>
                                </tr>
                                <tr>
                                    <td><p>По области</p></td>
                                    <td><p>Бесплатно<span>при заказе<br> от 30 000 руб.</span></p>
                                    <td><p>8 000 руб.<span>для заказов на сумму<br> от 0 до 30 000 руб.</span></p></td>
                                </tr>
                                <tr>
                                    <td><p>По России</p></td>
                                    <td><p>Бесплатно<span>при заказе<br> от 30 000 руб.</span></p>
                                    <td><p>8 000 руб.<span>для заказов на сумму<br> от 0 до 30 000 руб.</span></p></td>
                                </tr>
                            </table>
                        </div>
                        <div id="self" class="tabcontent">
                            Информация о самовывозе
                        </div>
                    </div><!--//item-tabs-->
                    <div class="delivery-form-block">
                        <p class="delivery-form-block-big-p">Остались вопросы?</p>

                        <div class="shadow-box">
                            <div class="shadow-box-inner">
                                <h5 class="mb-40">Заказать звонок</h5>

                                <input class="form-control input mb-10" type="text" id="form_name" placeholder="Как к Вам обращаться?">
                                <input type="tel" id="form_phone"  class="form-control input masked-phone mb-30" placeholder="Ваш сотовый номер" data-phonemask="+7(___)___-__-__" />
                                <a   class="btn mb-40" onclick="sendForm('form')">Перезвоните мне</a>

                                <p class="form-agreed-text">Нажимая на кнопку, вы принимаете <a href="#">условия передачи данных</a></p>

                                <input style="display: none" name="agree" type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="delivery-info">
                    <div class="delivery-info-icon-block">
                        <div class="delivery-info-icon-block-item">
                            <img src="{% static 'img/d1.png' %}" alt="">
                            <p>Экспресс-доставка<br>
                                12 городов + 1 день!</p>
                        </div>
                        <div class="delivery-info-icon-block-item">
                            <img src="{% static 'img/d2.png' %}" alt="">
                            <p>Вся Россия<br>
                                Наложенный платеж</p>
                        </div>
                        <div class="delivery-info-icon-block-item">
                            <img src="{% static 'img/d3.png' %}" alt="">
                            <p>Самовывоз</p>
                        </div>
                    </div>
                    <p class="delivery-form-block-big-p mb-40">Часто задаваемые вопросы</p>
                    <div class="catalog-menu">

                        <button class="accordion">вопрос1</button>
                        <div class="panel">

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, assumenda dolorum ea impedit inventore iste natus non quas vero? Ad corporis ex iusto labore magnam neque quasi quisquam repellat sed!</p>

                        </div>

                        <button class="accordion">вопрос2</button>
                        <div class="panel">

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, assumenda dolorum ea impedit inventore iste natus non quas vero? Ad corporis ex iusto labore magnam neque quasi quisquam repellat sed!</p>

                        </div>

                        <button class="accordion">вопрос3</button>
                        <div class="panel">

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, assumenda dolorum ea impedit inventore iste natus non quas vero? Ad corporis ex iusto labore magnam neque quasi quisquam repellat sed!</p>

                        </div>


                    </div><!--//catalog-menu-->


                </div>
            </div>

        </div><!--//container-->

    </section>
</div><!--//main-->


{% endblock %}

