{% extends 'basic.html' %}
{% load static %}
{% block content %}

   <div class="main">
    <div class="breadcrumbs">
        <div class="container ">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="#">Каталог товаров</a></li>
                <li><a href="{% url 'category' category.name_slug %}">{{ category.name }}</a></li>
                {% if subcategory %}
                    <li><a href="{% url 'subcategory' category.name_slug subcategory.name_slug%}">{{ subcategory.name }}</a></li>
                {% endif %}

                <li><span>{{ item.name }}</span></li>
            </ul>
        </div>
    </div>
    <section class="item">
        <div class="container">
            <div class="item-wrapper">
                <div class="item-image">
                    <ul class="item-image-list">
                        <li class="item-image-list-item">
                            <div class="inner">
                                <a href="{{ item.get_full_image }}" class="glightbox">
                                    <img src="{{ item.get_full_image }}">
                                </a>
                            </div>
                        </li>
{#                        <li class="item-image-list-item thumb">#}
{#                            <div class="inner">#}
{#                                <a href="http://placehold.it/230" class="glightbox">#}
{#                                    <img src="http://placehold.it/50">#}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="item-image-list-item thumb">#}
{#                            <div class="inner">#}
{#                                <a href="http://placehold.it/240" class="glightbox">#}
{#                                    <img src="http://placehold.it/50">#}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="item-image-list-item not-visible">#}
{#                            <div class="inner">#}
{#                                <a href="http://placehold.it/270" class="glightbox">#}
{#                                    <img src="http://placehold.it/200">#}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="item-image-list-item not-visible">#}
{#                            <div class="inner">#}
{#                                <a href="http://placehold.it/260" class="glightbox">#}
{#                                    <img src="http://placehold.it/200">#}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="item-image-list-item not-visible">#}
{#                            <div class="inner">#}
{#                                <a href="http://placehold.it/250" class="glightbox">#}
{#                                    <img src="http://placehold.it/200">#}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}
                    </ul>
                </div><!--//item-image-->
                <div class="item-info">
                    <h1>{{ item.name }}</h1>
                    {% if item.is_present %}
                    <p class="item-info-presence present">В наличии</p>
                    {% else %}
                         <p class="item-info-presence not-present">Нет наличии</p>
                    {% endif %}

                    <div class="item-info-group">
                        <ul class="item-info-attributes">

                            <li class="item-info-attributes-item"><p>Артикул:</p><span>{{ item.article }}</span></li>
                            <li class="item-info-attributes-item"><p>Ед. измерения:</p><span>3,4кг</span></li>
                            <li class="item-info-attributes-item"><p>Производитель:</p><span>{{ item.manufactor.name }}</span></li>


                        </ul>
                        <div class="item-info-price">
                            <p class="item-info-price-delivery">Lorem ipsum dolor.</p>
                            <div class="item-info-price-wrapper">
                                {% if item.discount > 0 %}
                                <p class="current-price"><span id="current_price">{{ item.discount_value }}</span> <i class="fa fa-rub"></i></p>
                                <p class="old-price">{{ item.price }} <i class="fa fa-rub"></i></p>
                                {% else %}
                                 <p class="current-price"><span id="current_price">{{ item.price }}</span> <i class="fa fa-rub"></i></p>

                                {% endif %}
                            </div>
                            <div class="item-info-price-quantity">
                                <p onclick="delQt()">-</p><input id="quantity" readonly type="number" value="1" min="1"><p class="mr-10" onclick="addQt()">+</p>
                                <span>Итого: <span id="total_price">560</span> <i class="fa fa-rub"></i></span>
                            </div>
                            <div class="item-info-price-buttons">
                                <span class="btn btn-green">в корзину</span>
                                <span class="btn btn-outline">купить в 1 клик</span>
                            </div>


                        </div>
                    </div>
                 </div><!--//item-info-->

            </div><!--//item-wrapper-->
            <div class="item-tabs">
                <div class="tab">
                    <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'description')">Описание</button>
                    <button class="tablinks" onclick="openTab(event, 'feedback')">Отзывы</button>
                    <button class="tablinks" onclick="openTab(event, 'delivery')">Доставка и оплата</button>
                </div>

                <div id="description" class="tabcontent">
                    {{ item.description | safe }}
                </div>

                <div id="feedback" class="tabcontent">

                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div id="delivery" class="tabcontent">

                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div><!--//item-tabs-->

            <div class="recent-items">
                <h3>Рекомендуемые товары</h3>
                   <div class="catalog-items-list">
                        <div class="catalog-item">
                            <a href="#" class="catalog-item-fav-btn "><i class="fa fa-heart-o"></i></a>
                            <a class="catalog-item-image" href="#">
                              <img src="img/item-temp.jpg" alt="">
                            </a>
                            <a class="catalog-item-info" href="#">
                                <p>Lorem ipsum dolor.</p>
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi dolore explicabo magnam, provident totam.</span>
                            </a>
                            <p class="catalog-item-price">5000 <i class="fa fa-rub"></i></p>
                            <a href="#" class="btn catalog-item-btn">в корзину</a>
                        </div><!--//catalog-item-->
                         <div class="catalog-item">
                            <a href="#" class="catalog-item-fav-btn "><i class="fa fa-heart-o"></i></a>
                            <a class="catalog-item-image" href="#">
                              <img src="img/item-temp.jpg" alt="">
                            </a>
                            <a class="catalog-item-info" href="#">
                                <p>Lorem ipsum dolor.</p>
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi dolore explicabo magnam, provident totam.</span>
                            </a>
                            <p class="catalog-item-price">5000 <i class="fa fa-rub"></i></p>
                            <a href="#" class="btn catalog-item-btn">в корзину</a>
                        </div><!--//catalog-item-->
                         <div class="catalog-item">
                            <a href="#" class="catalog-item-fav-btn "><i class="fa fa-heart-o"></i></a>
                            <a class="catalog-item-image" href="#">
                              <img src="img/item-temp.jpg" alt="">
                            </a>
                            <a class="catalog-item-info" href="#">
                                <p>Lorem ipsum dolor.</p>
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi dolore explicabo magnam, provident totam.</span>
                            </a>
                            <p class="catalog-item-price">5000 <i class="fa fa-rub"></i></p>
                            <a href="#" class="btn catalog-item-btn">в корзину</a>
                        </div><!--//catalog-item-->
                         <div class="catalog-item">
                            <a href="#" class="catalog-item-fav-btn "><i class="fa fa-heart-o"></i></a>
                            <a class="catalog-item-image" href="#">
                              <img src="img/item-temp.jpg" alt="">
                            </a>
                            <a class="catalog-item-info" href="#">
                                <p>Lorem ipsum dolor.</p>
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi dolore explicabo magnam, provident totam.</span>
                            </a>
                            <p class="catalog-item-price">5000 <i class="fa fa-rub"></i></p>
                            <a href="#" class="btn catalog-item-btn">в корзину</a>
                        </div><!--//catalog-item-->
                    </div><!--//catalog-items-list-->
            </div>


        </div><!--//container-->
    </section><!--//item-->
</div><!--//main-->
<script src="{% static 'js/glightbox.min.js' %}"></script>
<script>
    let lightbox = GLightbox({
        loop: true
    });

    let quantityInput = document.getElementById('quantity'),
        currentPrice =document.getElementById('current_price').innerText,
        totalPrice =document.getElementById('total_price')

    function addQt(){
        quantityInput.value = parseInt(quantityInput.value) + 1
        calculate()
    }
    function delQt(){
        if (quantityInput.value > 1){
            quantityInput.value = parseInt(quantityInput.value) - 1
            calculate()
        }
    }
    function calculate() {
        totalPrice.innerText = parseInt(currentPrice) * parseInt(quantityInput.value)
    }
</script>


{% endblock %}
