{% extends 'basic.html' %}
{% load static %}
{% block content %}

 <div class="main">
     <div class="breadcrumbs bg-grey">
        <div class="container ">
            <ul>
                <li><a href="/">Главная</a></li>

                <li><span>Производители</span></li>
            </ul>
        </div>
    </div>
    <section class="manufactors">
        <div class="container">
            <div class="section-header"><h1>Производители</h1></div>
            <p class="mb-20">Выберите производителя и посмотрите продукцию, которую вы можете приобрести у нас</p>
            <div class="manufactors-wrapper">
            <div class="manufactors-item">
                <a href="">
                    <div class="manufactors-item-inner">
                        <img src="http://placehold.it/400x300" alt="">
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </a>
            </div><!--//manufactors-item-->
                  <div class="manufactors-item">
                <a href="">
                    <div class="manufactors-item-inner">
                        <img src="http://placehold.it/400x300" alt="">
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </a>
            </div><!--//manufactors-item-->
                  <div class="manufactors-item">
                <a href="">
                    <div class="manufactors-item-inner">
                        <img src="http://placehold.it/400x300" alt="">
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </a>
            </div><!--//manufactors-item-->
                  <div class="manufactors-item">
                <a href="">
                    <div class="manufactors-item-inner">
                        <img src="http://placehold.it/400x300" alt="">
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </a>
            </div><!--//manufactors-item-->
                  <div class="manufactors-item">
                <a href="">
                    <div class="manufactors-item-inner">
                        <img src="http://placehold.it/400x300" alt="">
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </a>
            </div><!--//manufactors-item-->
                  <div class="manufactors-item">
                <a href="">
                    <div class="manufactors-item-inner">
                        <img src="http://placehold.it/400x300" alt="">
                        <p>Lorem ipsum dolor.</p>
                    </div>
                </a>
            </div><!--//manufactors-item-->

            </div><!--//manufactors-wrapper-->


        </div><!--//container-->

    </section>
</div><!--//main-->

{% endblock %}


