{% extends 'basic.html' %}
{% load static %}
{% block content %}

    <div class="main">
        <div class="breadcrumbs bg-grey">
            <div class="container ">
                <ul>
                    <li><a href="/">Главная</a></li>

                    <li><span>Партнерам</span></li>
                </ul>
            </div>
        </div>
        <section class="about ">
            <div class="container">
           <div class="col-md-12"><p>
	 &nbsp;&nbsp;&nbsp;&nbsp; Мы любим дизайнеров, и уверены, что знакомство и сотрудничество с нами принесет вам много положительных эмоций. Мы готовы ответить вам на самые частые, самые сложные и нестандартные вопросы, которые могут родиться только в голове поистине творческого человека.
</p>
<p>
	 Кроме того, мы приготовили для вас много интересного и полезного: <br>
</p>
<p>
 <br>
</p>
<p>
	 - 3D модели для комфортного проектирования
</p>
<p>
	 - электронный каталог
</p>
<p>
	 - индивидуальную скидку
</p>
<p>
	 - защиту вашего проекта
</p>
<p>
	 - обмен товара по любой причине
</p>
<p>
 <br>
</p>
<p>

</p>
<p>
 <br>
</p>
<p>
	 Почему другие выбирают нас? <br>
</p>
<p>
 <br>
</p>
<p>
	 -Производим продукцию премиального качества
</p>
<p>
	 -Доказали, что качество может и должно быть доступным по цене
</p>
<p>
	 -Индивидуально и бережно подходим к запросам каждого клиента
</p>
<p>
	 -Имеем развитую складскую программу
</p>
<p>
	 -Можем производить эксклюзивные формы, при этом в сжатые сроки
</p>
 <br>
<p>
</p>
 Особенности нашей продукции <br>
<p>
	 -Повышенная ударопрочность и долговечность
</p>
<p>
	 -Уникальная влагостойкость
</p>
<p>
	 -Отсутствие деформации и усадки после монтажа
</p>
<p>
	 -Качественные сырьевые материалы
</p>
<p>
	 -Многофункциональность
</p>
<p>
	 -Простой монтаж
</p>
 <br></div>
            </div><!--//container-->

        </section>
    </div><!--//main-->

{% endblock %}


