{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="breadcrumbs">
           <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'account' %}">Личный кабинет</a></li>
                <li>Избранное</li>
            </ul>
        </div>

    </div>

    <section class="catalog">
        <div class="container">

                  <div class="section-header"><h1>Избранное</h1></div>
                <div class="catalog-items">

                    <div class="catalog-items-list">
                    {% for item in wish_list %}
                          <div class="catalog-item">
                                    {% if item.discount > 0 %}
                                        <span class="catalog-item-discount">- {{ item.discount }}%</span>
                                    {% endif %}
                                    <a  href="#" class="catalog-item-fav-btn "
                                    @click.prevent="addInFav"></span>
                                    <i data-id="{{ item.id }}" class="fa fa-heart-o"></i></a>
                                    <a class="catalog-item-image" href="{{ item.get_absolute_url }}">
                                        <img src="{{ item.get_small_image }}" alt="{{ item.name }}">
                                    </a>
                                    <a class="catalog-item-info" href="{{ item.get_absolute_url }}">
                                        <p>{{ item.name }}</p>

                                        <span>Артикул: {{ item.article }}</span>
                                        <span>Ед. измерения: {{ item.units }}</span>
                                        <span>Производитель: {{ item.manufactor.name }}</span>

                                    </a>
                                    <div class="item-info-price-wrapper">
                                        {% if item.discount > 0 %}
                                            <p class="current-price"><span id="current_price">{{ item.discount_value }}</span> <i class="fa fa-rub"></i></p>
                                            <p class="old-price">{{ item.price }} <i class="fa fa-rub"></i></p>
                                        {% else %}
                                            <p class="current-price"><span id="current_price">{{ item.price }}</span> <i class="fa fa-rub"></i></p>

                                        {% endif %}
                                    </div>
                                {% if item.id in cart_items_ids %}
                                      <button id="add_btn_{{ item.id }}" data-id="{{ item.id }}" data-name="{{ item.name }}" data-price="{{ item.discount_value }}" data-image="{{ item.itemimage_set.first.image_small }}" @click="addItem" class="btn catalog-item-btn" disabled="disabled">в корзине</button>

                                    {% else %}
                                       <button id="add_btn_{{ item.id }}" data-id="{{ item.id }}" data-name="{{ item.name }}" data-price="{{ item.discount_value }}" data-image="{{ item.itemimage_set.first.image_small }}" @click="addItem" class="btn catalog-item-btn">в корзину</button>

                                {% endif %}
                                    {#                            <p class="catalog-item-price">{{ item.price }} <i class="fa fa-rub"></i></p>#}
                                         {% if request.user.is_superuser %}
                                <a target="_blank" style="font-weight: bold;color: red" href="/admin/item/item/{{ item.id }}/change/">редакировать</a>
                                {% endif %}
                                </div><!--//catalog-item-->
                     {% endfor %}
                    </div>

                </div>



        </div>

    </section>



</div>
{% endblock %}
