{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="main bg-grey">
    <div class="container ">
        <div class="breadcrumbs ">
           <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'account' %}">Личный кабинет</a></li>
                <li>Избранное</li>
            </ul>
        </div>

    </div>

    <section class="catalog">
        <div class="container">

                  <div class="section-header"><h1>Избранное</h1></div>
                <div class="catalog-items">

                    <div class="catalog-items-list">
                    {% for item in items %}
                        {% include 'page/_item-card.html' %}
                     {% endfor %}
                    </div>

                </div>



        </div>

    </section>



</div>
{% endblock %}
