$text-color: #000000
$header-text-color: #202020
$section-bg-grey: #f5f6f7
$color-red: #d83138
$color-red-hover: #be353b
$color-l-red: #f55f63
$color-green: #90b95c
$border-color: #ebebeb
$red-btn: #e63d44


body
  font: 16px 'P22 Underground', sans-serif
  color: $text-color

.container
  max-width: 1170px
  padding: 0 15px
  margin: 0 auto

.text-center
  text-align: center

.mb-30
  margin-bottom: 30px

h3
  font: 48px 'Prata', sans-serif
  color: $text-color
  margin-bottom: 60px
  span
    color: $color-red

section
  margin-bottom: 115px
