$text-color: #000000
$header-text-color: #202020
$section-bg-grey: #f5f6f7
$color-red: #d83138
$color-red-hover: #be353b
$color-l-red: #f55f63
$color-green: #90b95c
$border-color: #ebebeb
$red-btn: #e63d44


body
  font: 16px 'P22 Underground', sans-serif
  color: $text-color

.container
  max-width: 1170px
  padding: 0 15px
  margin: 0 auto

.text-center
  text-align: center !important
.mb-10
  margin-bottom: 10px !important
.mb-20
  margin-bottom: 20px !important
.mb-30
  margin-bottom: 30px !important
.mb-40
  margin-bottom: 40px !important
.mb-50
  margin-bottom: 50px !important
.l-h-30
  line-height: 30px !important

.not-visible
  display: none

.green-underline
  position: relative
  z-index: 1
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 3px
    background: $color-green
    bottom: 2px
    left: 0
    z-index: -1

h3
  font: 48px 'Prata', sans-serif
  color: $text-color
  margin-bottom: 60px
  span
    color: $color-red

section
  margin-bottom: 115px

.shadow-box
  box-sizing: border-box
  border-radius: 10px
  background-color: #fff
  box-shadow: 0 0 51px rgba(0, 0, 0, 0.1)
  padding: 9px
  &-inner
    box-sizing: border-box
    border-radius: 10px
    min-height: 100%
    height: fit-content
    border: 1px dashed $border-color
    display: flex
    flex-direction: column
    align-items: center
    padding: 45px
    justify-content: center
    h5
      font: 21px 'P22UndergroundCYPro-Medium',sans-Serif
      color: $header-text-color
      font-weight: 500
      span
        display: block
        font-family: 'P22UndergroundCYPro-Light',sans-serif