.main-cart-items
  min-width: 100%

.main-cart-items-head
  font-family: "P22UndergroundCYPro-Demi",sans-serif
  font-size: 14px
  border-bottom: 1px solid $border-color
  line-height: 50px

.main-cart-item
  border-bottom: 1px solid $border-color
  display: grid
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr
  align-items: center
  padding: 20px 0
.main-cart-footer
  line-height: 50px
  border-bottom: 1px solid $border-color
.main-cart-footer__total
  font-family: "P22UndergroundCYPro-Demi",sans-serif
  font-size: 18px
  color: $text-color
.main-cart-footer__total-price
  @extend .main-cart-footer__total
  color: $color-red
.main-cart-item-name
  display: flex
  align-items: center
  span
    margin-left: 20px
    font-family: "P22UndergroundCYPro-Demi",sans-serif
    font-size: 15px
    line-height: 18px
    color: $text-color
  img
    width: 70px

.main-cart-item-price

  font-size: 18px
  font-family: "P22UndergroundCYPro-Demi",sans-serif
  color: $text-color
.main-cart-item-total-price
  @extend .main-cart-item-price
.main-cart-item-number

.main-cart-item-action


.main-cart
  width: 100px !important

.main-cart__buttons
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-top: 50px
  a
    flex-basis: 320px