.form-control
  width: 100%
  box-sizing: border-box
  height: 50px
  &.input
    border: none
    background: #e8eaeb
    border-radius: 5px
    box-shadow: inset 0px 0px 8px 0px rgba(0, 1, 5, 0.02)
    padding: 0 30px
    &:focus
      outline: 1px
