.header
  position: relative
  background: $section-bg-grey
  padding-top: 15px
  z-index: 100

  &-top
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 15px
    &_logo
      display: flex
      align-items: center
      flex-basis: 30%
      &-name
        a
          font: 18px 'P22UndergroundCYPro-Demi', sans-serif
          color: $color-green
          text-transform: uppercase
          span
            color: $color-red
      &-info
        font: 14px 'P22UndergroundCYPro-Light', sans-serif
        line-height: 21px
        display: flex
        flex-direction: column
        justify-content: space-between
        span
          position: relative
          color: #9ea1a3
          margin-left: 20px
          cursor: pointer
          display: flex
          align-items: center
          &::before
            position: absolute
            font-family: 'FontAwesome'
            content: '\f041'
            left: -20px
            top: -2px
            font-size: 16px
    &_search-form
      flex-basis: 30%
    &_icons
      flex-basis: 12%
      display: flex
      justify-content: space-around
      a
        position: relative
        color: $color-red
        font-size: 25px
        line-height: 60px
        &:focus
          outline: 1px
    &_callback
      p
        position: relative
        font: 21px 'Circe-Regulal',sans-serif
        color: $text-color
        margin-left: 25px
        &::before
          position: absolute
          font-family: 'FontAwesome'
          content: '\f095'
          left: -25px
          top: 2px
          color: #9ea1a3
      span
        margin-left: 25px
        font: 12px 'P22UndergroundCYPro-Book',sans-serif
        color: $color-green
        cursor: pointer
        text-decoration: underline
        text-underline-color: $color-green
        text-transform: uppercase
        letter-spacing: 2px
  &.header-fixed
    position: fixed
    top: 0
    width: 100%
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.31)

.mobile-menu-toggle
  display: none
  margin-right: 15px
  i
    font-size: 25px
    color: $color-red

@media (max-width: 800px)
  .mobile-menu-toggle
    display: block
  .header
    &-top
      justify-content: space-between
      &_logo
        flex-basis: 15%
      &_icons
        flex-basis: 100px
        justify-content: flex-end
        a
          margin-left: 15px
.main-nav
  background: $color-red

  &-catalog
    position: absolute

.nav
  display: flex
  align-items: center
  justify-content: space-between
  font: 16px 'P22UndergroundCYPro-Demi',sans-serif
  li
    flex-grow: 1
  &-item
    display: block
    color: #ffffff
    text-align: center
    line-height: 60px

    &:hover
        //border-bottom: 1px solid #ffffff
        background: $color-red-hover
  &-catalog-toggle

    position: relative

    cursor: pointer
    //background: $color-red-hover
    &::before
      font-family: 'FontAwesome'
      content: '\f0ca'
      color: #ffffff
      margin-right: 20px


.header-cart
  opacity: 0
  pointer-events: none
  position: absolute
  background: #ffffff
  padding: 15px 10px
  width: 320px
  left: -150px
  top: 70px
  border-bottom: 2px solid $color-red
  transition: all .2s linear
  ::-webkit-scrollbar
    width: 4px
  &-items
    max-height: 275px
    overflow: auto
  &-item
    display: flex
    align-items: center
    border-bottom: 1px solid $border-color
    padding-bottom: 10px
    margin-bottom: 10px
    img
      width: 50px
      height: 50px
      object-fit: cover
      margin-right: 10px
    &-info
      flex-grow: 1
      font: 15px 'P22UndergroundCYPro-Light'
      span
        font-family: P22UndergroundCYPro-Demi
    &-remove
      position: relative
      color: #ffffff
      z-index: 1
      font-size: 14px
      cursor: pointer
      margin-right: 15px
      &::after
        position: absolute
        z-index: -1
        content: ''
        width: 21px
        height: 21px
        left: -5px
        top: -3px
        background: $color-red
        border-radius: 50%
  &-bottom
    &-total
      display: flex
      align-items: center
      justify-content: space-evenly
      padding: 10px 0
      font: 20px 'P22UndergroundCYPro-Demi'
    &-buttons
      display: flex
      justify-content: space-between
      a
        height: 40px

        font: 16px 'P22UndergroundCYPro-Medium'
        color: #ffffff
        flex-basis: 49%

.header-cart-toggle
  position: relative
  display: flex
  justify-content: center
  flex-grow: 1
  &:hover > .header-cart
    top: 60px
    opacity: 1
    pointer-events: all
  &-num
    position: relative
    &::after
      position: absolute
      content: attr(data-num)
      width: 22px
      height: 21px
      color: #ffffff
      top: -10px
      right: -13px
      border: 2px solid #f5f6f7
      box-sizing: border-box
      font-size: 12px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      background: $color-green
    &.empty::after
      content: none

@media (max-width: 800px)
  .header-cart
    left: unset
    right: 0

.have-sub-menu
  position: relative
  &:hover > .nav-sub-menu
    opacity: 1
    pointer-events: all
    top: 60px

.nav-sub-menu
  opacity: 0
  pointer-events: none
  position: absolute
  background: #ffffff
  width: 250px
  padding: 15px
  top: 70px
  left: -50%
  box-sizing: border-box
  border: 1px solid $border-color
  transition: all .2s linear
  border-bottom: 2px solid $color-red

  &-item
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0
    a
      color: $text-color
      line-height: 30px
      &:hover
        color: $color-red
