.offer
  background: $section-bg-grey
  padding-bottom: 115px
  &-wrapper
    border-bottom: 3px solid $color-green
  &-banner
    display: flex
    justify-content: space-between
    &-items
     flex-basis: 75%
    &-item
      position: relative
      height: 332px
      img
        width: 100%
        height: 100%
        object-fit: cover
      &-text
        top: 0
        position: absolute
        padding: 35px
        h3
          font-size: 36px
          color: #ffffff
          max-width: 585px
          margin-bottom: 20px
          span
            color: $color-red
        a
          max-width: 320px
    &-menu
      flex-basis: 25%
      &-wrapper
        width: 100%
        height: 100%
        background: #ffffff
        display: flex
        flex-direction: column
        justify-content: space-between
      &-item
        position: relative
        padding: 17px 35px
        border-bottom: 1px solid $border-color
        box-sizing: border-box
        cursor: pointer
        a
          color: $text-color
        &::after
          position: absolute
          font-family: 'FontAwesome'
          content: '\f105'
          right: 35px
        &:hover
          color: $color-red
        &:hover > div
            opacity: 1
            pointer-events: all
            left: 100%

@media (max-width: 800px)
  .offer-banner-items
    flex-basis: 100%
.offer-banner-menu-inner
  position: absolute
  left: 95%
  width: 100%
  top: 0
  opacity: 0
  border-left: 2px solid $color-red
  pointer-events: none
  z-index: 10
  transition: all .2s linear
.offer-banner-menu-wrapper
  width: 100%
  height: 100%
  background: #ffffff
  display: flex
  flex-direction: column
  justify-content: space-between

.offer-banner-menu-inner-item
  position: relative
  padding: 18px 35px
  border-bottom: 1px solid $border-color
  box-sizing: border-box
  cursor: pointer
  color: $text-color
  a
    color: $text-color
    &:hover
      color: $color-red
  &::after
    position: absolute
    font-family: 'FontAwesome'
    content: '\f105'
    right: 35px
  &:hover
    color: $color-red
  &:hover > div
    opacity: 1
    pointer-events: all
    left: 100%

.link-item::after
  content: none


.offer-partners
  padding: 35px 45px
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  background: #ffffff
  &-item
    img
      display: block
      margin: 0 auto

@media (max-width: 420px)
  .offer-partners
    padding: 35px 0


