{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {{ pageTitle }}
{% endblock %}
{% block content %}
      {% include 'header.html' %}

       <div class="main">

        <section class="about ">
            <div class="container">
              <div style="text-align: center;padding-top: 100px;" class="notFound-img">
				<img src="{% static 'img/notFound-img.svg' %}" alt="">
			</div>
                <div style="text-align: center" class="section-header">
                    <h1 class="notFound-title">Такой страницы не существует</h1>
                </div>
                <div class="">
                  <a style="max-width: 220px;margin: 0 auto" href="/" class="btn">Перейти на главную</a>
                </div>

            </div><!--//container-->

        </section>
    </div><!--//main-->


{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}