{% load static %}
<!DOCTYPE html>
<!-- SKIBORG WAS HERE -->
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
     <link rel="stylesheet" href="{% static 'css/glightbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">

</head>
<body>
<div id="app">
<form id="dummy_form" class="not-visible">{% csrf_token %}</form>
{% include 'header.html' %}
{% block content %}
{% endblock %}
{% include 'footer.html' %}
</div>
{% block js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="{% static 'js/main.js' %}"></script>



<script>

    function getCart() {
        let csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
            let body = {}
            fetch(`/cart/get_cart/`, {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    if (res){
                            console.log(res)
                       app.headerCartItems=[]
                    for (let x of res){

                           console.log(x)
                        app.headerCartItems.push(x)
                        }
                        console.log(app.headerCartItems)
                    }
                })
    }
    getCart()
    let acc = document.getElementsByClassName("accordion");
    let i;
    let lastActive = null
    let lastPanel = null

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            console.log(lastActive)
            if (lastActive){
                lastActive.classList.remove('active')
                lastPanel.classList.remove('panel-active')
                lastPanel.style.maxHeight = null;
            }
            this.classList.toggle("active");
            lastActive=this
            let panel = this.nextElementSibling;
            lastPanel = panel
            if (panel.style.maxHeight) {

                panel.style.maxHeight = null;
                panel.classList.remove('panel-active')
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                panel.classList.add('panel-active')
            }
        });
    }
</script>
<script>
function openTab(evt, tab) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" tab-active", "");
  }
  document.getElementById(tab).style.display = "block";
  evt.currentTarget.className += " tab-active";
}
document.getElementById("defaultOpen").click();
</script>
{% endblock %}


</body>

</html>
