{% load static %}
<!DOCTYPE html>
<!-- SKIBORG WAS HERE -->
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
     <link rel="stylesheet" href="{% static 'css/glightbox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
<meta name="yandex-verification" content="cc4ef3d17280544f" />
</head>
<body>
<div id="app">
<form id="dummy_form" class="not-visible">{% csrf_token %}</form>
{% include 'header.html' %}
    <modalsuc v-if="showModalSuc">


</modalsuc>


{% block content %}
{% endblock %}
{{ messages.message }}
{% if messages %}
<ul style="display: none" class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% include 'footer.html' %}

</div>
{% block js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
     <script type="text/javascript" src="{% static 'js/jquery-1.10.1.min.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="{% static 'js/main.js' %}"></script>
    <!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'kLf1kOCdBP';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- {/literal} END JIVOSITE CODE -->

<script>

{% if messages %}
app.showModalSuc = true
{% endif %}

    function getCart() {
        let csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
            let body = {}
            fetch(`/cart/get_cart/`, {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    if (res){
                            console.log(res)
                       app.headerCartItems=[]
                    for (let x of res){

                           console.log(x)
                        app.headerCartItems.push(x)
                        }
                        console.log(app.headerCartItems)
                    }
                })
    }
    getCart()
    let acc = document.getElementsByClassName("accordion");
    let i;
    let lastActive = null
    let lastPanel = null

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            console.log(lastActive)
            if (lastActive){
                lastActive.classList.remove('active')
                lastPanel.classList.remove('panel-active')
                lastPanel.style.maxHeight = null;
            }
            this.classList.toggle("active");
            lastActive=this
            let panel = this.nextElementSibling;
            lastPanel = panel
            if (panel.style.maxHeight) {

                panel.style.maxHeight = null;
                panel.classList.remove('panel-active')
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                panel.classList.add('panel-active')
            }
        });
    }
</script>
<script>
function openTab(evt, tab) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" tab-active", "");
  }
  document.getElementById(tab).style.display = "block";
  evt.currentTarget.className += " tab-active";
}
document.getElementById("defaultOpen").click();

  function login(){
            email = document.getElementById("login-email").value;
            password = document.getElementById("login-password").value;
            csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            $("#errorlogin").html("");
            $.ajax({
                type:"POST",
                url:'/user/log_in/',
                data:{
                    'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    'email':email,
                    'password':password,
                },
                success : function(data){
                    console.log(data);
                    if(data['result'] == "success"){
                        location.reload();
                    }
                    else if(data['result'] == "inactive"){
                        $("#errorlogin").html("Please verify this E-mail address.");
                    }
                    else{
                        $("#errorlogin").html("Проверьте введеные данные!");
                    }
                }
            });
        }

        function signup(){
            email = document.getElementById("reg_email").value;
            user_name = document.getElementById("reg_name").value;
            password1 = document.getElementById("reg_pass1").value;
            password2 = document.getElementById("reg_pass2").value;
            n1 = $('#reg_n1').data('n1');
            n2 = $('#reg_n2').data('n2');
            answer = $('#reg_answer').val();
            csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            $("#erroremail").html("");
            $("#errorpass").html("");
            $.ajax({
                type:"POST",
                url:'/user/signup/',
                data:{
                    'csrfmiddlewaretoken': csrfmiddlewaretoken,
                    'email':email,
                    'name':user_name,
                    'password1':password1,
                    'password2':password2,
                    'n1':n1,
                    'n2':n2,
                    'answer':answer,
                },
                success : function(data){
                    console.log(data['result']);
                    if (data['result'] == "bad"){
                        $("#errorother").html("Неверный ответ");
                        return;
                    }
                    if(data['result'] == "success"){
                        // $('#reg_text1').css('display','none');
                        // $('#reg_text2').css('display','block');
                        //location.reload();
                        window.location.href = ('/user/account/edit');
                    }
                    else{
                        if("email" in data['result'])
                            $("#erroremail").html(data['result']['email'][0]);
                        if("password2" in data['result'])
                            $("#errorpass").html(data['result']['password2'][0]);
                    }
                }
            })
        }

</script>

{% endblock %}


</body>

</html>
