{% load static %}
<section class="map">
    <div class="container map-inner">
        <div class="shadow-box">
            <div class="shadow-box-inner">
                <h5>Номер телефона:</h5>
                <p class="mb-30"><span>8 (982) 333-78-88</span></p>
                <h5>Email адрес:</h5>
                <p class="mb-30"><span>ideahome@mail.ru</span></p>
                <h5>Адреса магазинов:</h5>
                <p>Челябинск, <span>название улицы, №36</span></p>
                <p>Челябинск, <span>название улицы, №36</span></p>
                <p>Челябинск, <span>название улицы, №36</span></p>

            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="footer-top ">
            <div class="footer-top-info">
                <p>Все материалы данного сайта защищены авторским правом. Полное или частичное копирование запрещено. Информация предназначена для аудитории 14+</p>
                <div class="footer-social">
                    <ul>
                        <li><a href="#" rel="nofollow"><span class="vk_icon"></span></a></li>
                        <li><a href="#" rel="nofollow"><span class="fb_icon"></span></a></li>
                        <li><a href="#" rel="nofollow"><span class="inst_icon"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-top-list">
                <p>Реквизиты в России:</p>
                <ul>
                    <li>ИП Фамилия И.И.</li>
                    <li>ИНН 54651326526</li>
                    <li>ОГРНИП 561563592526</li>
                </ul>
            </div>
            <div class="footer-top-list ">
                <p>Адрес офиса:</p>
                <ul>
                    <li>г. Челябинск</li>
                    <li>7010, ул. Название, 55</li>
                    <li>Телефон: +7 351 230 80 40</li>
                </ul>
            </div>

            <div class="footer-top-phones text-right">
                <p>+7 (351) 230 80 40</p>
                <a href="javascript: void(0)" onclick="toggleModal('callback-modal')" class="btn ">Перезвоните мне</a>
            </div>





        </div>

    </div>
</footer>