{% load static %}
<header class="header header-fixed">
    <div class="container">
        <div class="header-top">

            <div class="mobile-menu-toggle">
                <span><i class="fa fa-list"></i></span>
            </div>
            <div class="header-top_logo">

                <p class="header-top_logo-name"><a href="/"><span>идеи</span> для дома</a></p>
                <div class="header-top_logo-info mobile-hide-800">
                    <p>Декоративные и отделочные материалы по Челябинской области</p>
                    <span>Адреса всех магазинов</span>
                </div>
            </div>
            <div class="header-top_search-form mobile-hide-800">
                <form>
                    <div class="form-row">
                        <input type="text" class="form-control input" placeholder="Поиск по сайту">
                    </div>

                </form>
            </div>
            <div class="header-top_icons">
                <a href=""><i class="fa fa-user"></i></a>
                <div class="header-cart-toggle">
                    <a href="#"><i id="cart_items_count" :data-num="[[cartItemsNum ]]"  class="{% if all_items_in_cart.count == 0 %}empty{% endif %} fa fa-shopping-cart header-cart-toggle-num"></i></a>
                    <div v-if="cartTotal" class="header-cart">
                        <div id="HeaderCart">
                            <header-cart-items
                                    v-for="(item,index) in headerCartItems"
                                    v-bind:item="item"
                                    v-bind:key="item.id"
                                    v-bind:index="index"
                                    v-on:userdelete="remove"
                            ></header-cart-items>



                            <div class="header-cart-bottom">
                                <div class="header-cart-bottom-total">
                                    <p>Итого</p>
                                    <p>[[cartTotal]] <i class="fa fa-rub"></i></p>
                                </div>
                                <div class="header-cart-bottom-buttons">
                                    <a href="{% url 'show_cart' %}" class="btn">Корзина</a>
                                    <a href="{% url 'checkout' %}" class="btn">Оформить</a>
                                </div>
                            </div>
                        </div>

                    </div>
                            <div v-else class="header-cart">
 <p>Корзина пуста</p>
</div>
                </div>

                <a href=""><i class="fa fa-heart"></i></a>
            </div>
            <div class="header-top_callback mobile-hide-800">
                <p>8 351 215 55 07</p>
                <span>обратный звонок</span>
            </div>
        </div><!-- //header-top-->
    </div><!-- //container-->
    <div class="side-panel">

        <div class="side-panel-top">
            <span class="side-panel-top-toggle"><i class="fa fa-times"></i></span>
            <p class="side-panel-top-logo">идеи для дома</p>
        </div>


        <div class="side-panel-menu">
            <a href=""><p class="side-panel-menu-item">Каталог материалов</p></a>
            <div class="catalog-menu mobile-catalog">

                <button class="accordion">3D панели</button>
                <div class="panel">
                    <ul class="panel-list">
                        <li class="panel-list-item"><a href="">Искусственный декоративный камень</a></li>
                        <li class="panel-list-item"><a href="">Искусственный декоративный камень</a></li>
                        <li class="panel-list-item"><a href="">Искусственный декоративный камень</a></li>
                    </ul>
                </div>
                <a class="catalog-menu-link" href="#">ССылка</a>
                <button class="accordion">Section 2</button>
                <div class="panel">
                    <ul class="panel-list">
                        <li class="panel-list-item"><a href="">Искусственный декоративный камень</a></li>
                        <li class="panel-list-item"><a href="">Искусственный декоративный камень</a></li>
                        <li class="panel-list-item"><a href="">Искусственный декоративный камень</a></li>
                    </ul>
                </div>

                <button class="accordion">Section 3</button>
                <div class="panel">
                    <ul class="panel-list">
                        <li class="panel-list-item"><a href="">Искусственный декоративный камень</a></li>
                        <li class="panel-list-item"><a href="">Искусственный декоративный камень</a></li>
                        <li class="panel-list-item"><a href="">Искусственный декоративный камень</a></li>
                    </ul>
                </div>
                <a class="catalog-menu-link" href="#">ССылка</a>


            </div><!--//catalog-menu-->
            <a href="{% url 'delivery' %}"><p class="side-panel-menu-item">Доставка</p></a>
            <a href="{% url 'manufacturers' %}"><p class="side-panel-menu-item">Производители</p></a>
            <a href=""><p class="side-panel-menu-item">Партнерам</p></a>
            <a href=""><p class="side-panel-menu-item">Статьи</p></a>
            <a href="{% url 'contacts' %}"><p class="side-panel-menu-item">Контакты</p></a>
            <a href="{% url 'about' %}"><p class="side-panel-menu-item">О нас</p></a>
        </div>
    </div>
   <div class="main-nav mobile-hide-800">
    <div class="container">
        <ul class="nav">
            <li><a class="nav-item" href="{% url 'catalog' %}"><i style="margin-right: 20px" class="fa fa-list"></i>Каталог материалов</a>
            </li>
            <li><a class="nav-item" href="{% url 'delivery' %}">Доставка</a></li>
            <li><a class="nav-item" href="{% url 'manufacturers' %}">Производители</a></li>
            <li><a class="nav-item" href="#">Партнерам</a></li>
            <li><a class="nav-item" href="#">Статьи</a></li>
            <li><a class="nav-item" href="{% url 'contacts' %}">Контакты</a></li>
            <li><a class="nav-item" href="#">О нас</a></li>
            <li class="have-sub-menu"><a class="nav-item" href="#">О нас</a>
                        <ul class="nav-sub-menu">
                            <li class="nav-sub-menu-item"><a href="">Lorem ipsum dolor.</a></li>
                            <li class="nav-sub-menu-item"><a href="">Lorem ipsum dolor.</a></li>
                            <li class="nav-sub-menu-item"><a href="">Lorem ipsum dolor.</a></li>
                        </ul>
                    </li>
        </ul>

    </div><!-- //container-->
</div><!-- //header-menu-->
</header>


