{% load static %}
<header class="header header-fixed">
    <div class="container">
        <div class="header-top">


            <div class="header-top_logo">
                <div class="mobile-menu-toggle" @click="sidePanelActive=true">
                    <span><i class="fa fa-list"></i></span>
                </div>
                <p class="header-top_logo-name"><a href="/"><span>идеи</span> для дома</a></p>
                <div class="header-top_logo-info mobile-hide-800">
                    <p>Декоративные и отделочные материалы по Челябинской области</p>
                    <span><a href="{% url 'contacts' %}">Адреса всех магазинов</a></span>
                </div>
            </div>
            <div class="header-top_search-form mobile-hide-800">
                <form action="{% url 'search' %}" method="post">{% csrf_token %}
                    <div class="form-row">
                        <input type="text" name="query"  class="form-control input" placeholder="Поиск по сайту">
                        <input type="submit" hidden="true" />
                    </div>

                </form>
            </div>
            <div class="header-top_icons">
             {% if request.user.is_authenticated %}
                <a style="margin-right:15px" href="{% url 'account' %}"><i class="fa fa-user"></i></a>
                <a href="{% url 'wishlist' %}"><i class="fa fa-heart"></i></a>
            {% else %}
                  <a href="{% url 'log_in' %}"><i class="fa fa-sign-in"></i></a>
            {% endif %}
                <div class="header-cart-toggle">
                    <a href="#"><i id="cart_items_count" :data-num="[[cartItemsNum ]]"  class="{% if all_items_in_cart.count == 0 %}empty{% endif %} fa fa-shopping-cart header-cart-toggle-num"></i></a>
                    <div v-if="cartTotal" class="header-cart">
                        <div id="HeaderCart">
                            <header-cart-items
                                    v-for="(item,index) in headerCartItems"
                                    v-bind:item="item"
                                    v-bind:key="item.id"
                                    v-bind:index="index"
                                    v-on:userdelete="remove"
                            ></header-cart-items>



                            <div class="header-cart-bottom">
                                <div class="header-cart-bottom-total">
                                    <p>Итого</p>
                                    <p>[[cartTotal]] <i class="fa fa-rub"></i></p>
                                </div>
                                <div class="header-cart-bottom-buttons">
                                    <a href="{% url 'show_cart' %}" class="btn">Корзина</a>
                                    <a href="{% url 'checkout' %}" class="btn">Оформить</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div v-else class="header-cart">
                        <p>Корзина пуста</p>
                    </div>
                </div>


            </div>
            <div class="header-top_callback mobile-hide-800">
                <p>8 351 215 55 07</p>
                <span @click="showModal = true">обратный звонок</span>
            </div>
        </div><!-- //header-top-->
    </div><!-- //container-->
    <div class="side-panel" :class="{'panelActive':sidePanelActive}">

        <div class="side-panel-top">
            <span class="side-panel-top-toggle" @click="sidePanelActive=false"><i class="fa fa-times"></i></span>
            <p class="side-panel-top-logo">идеи для дома</p>
        </div>


        <div class="side-panel-menu">
            <p @click=" mobileCatalogActive ? mobileCatalogActive=false : mobileCatalogActive=true"class="side-panel-menu-item">Каталог материалов</p>
            <div class="catalog-menu mobile-catalog" :class="{'mobileCatalogActive':mobileCatalogActive}">
                {% for category in all_categories %}
                    {% if category.subcategory.all.exists %}
                    <button class="accordion">{{ category.name }}</button>
                    <div class="panel">
                        <ul class="panel-list">
                            {% for subcategory in category.subcategory.all %}
                                {% if subcategory.is_active %}
                                    <li class="panel-list-item"><a href="{% url 'subcategory' subcategory.category.name_slug subcategory.name_slug %}">{{ subcategory.name }}</a></li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                    {% else %}
                         <a class="catalog-menu-link" href="{% url 'category' category.name_slug %}">{{ category.name }}</a>
                    {% endif %}

                {% endfor %}

            </div><!--//catalog-menu-->
            <a href="{% url 'delivery' %}"><p class="side-panel-menu-item">Доставка</p></a>
            <a href="{% url 'manufacturers' %}"><p class="side-panel-menu-item">Производители</p></a>
            <a href=""><p class="side-panel-menu-item">Партнерам</p></a>
            <a href=""><p class="side-panel-menu-item">Статьи</p></a>
            <a href="{% url 'contacts' %}"><p class="side-panel-menu-item">Контакты</p></a>
            <a href="{% url 'about' %}"><p class="side-panel-menu-item">О нас</p></a>
        </div>
    </div>
    <div class="main-nav mobile-hide-800">
        <div class="container">
            <ul class="nav">
                <li><a class="nav-item" href="{% url 'catalog' %}"><i style="margin-right: 20px" class="fa fa-list"></i>Каталог материалов</a>
                </li>
                <li><a class="nav-item" href="{% url 'sale' %}">Акции</a></li>
                <li><a class="nav-item" href="{% url 'manufacturers' %}">Производители</a></li>
                <li><a class="nav-item" href="#">Партнерам</a></li>
                <li><a class="nav-item" href="{% url 'contacts' %}">Контакты</a></li>

                <li class="have-sub-menu"><a class="nav-item" href="#">Информация</a>
                    <ul class="nav-sub-menu">
                        <li class="nav-sub-menu-item"><a href="{% url 'delivery' %}">Доставка</a></li>
                        <li class="nav-sub-menu-item"><a href="{% url 'about' %}">О нас</a></li>
                        <li class="nav-sub-menu-item"><a href="#">Статьи</a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- //container-->
    </div><!-- //header-menu-->
</header>


